/*
    Animation pour les petits points doré qui apparaissent à l'écran
    Le code provient de : https://codepen.io/mikegolus/pen/Jegvym?editors=1100
    (Les transition ont étées diminuées, l'aspect initial à été modifié également)
*/
/* Example of a media query for mobile phones */
@media only screen and (max-width: 600px) {
    /* CSS styles specific to mobile phones */
}

html,
body {
    height: 100%;
}

body {
    background-size: cover;
}

.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}

.firefly::before,
.firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
}

.firefly::before {
    /* Déubt de la transition 
        Boule noire quasi-invisible */
    background: black;
    opacity: 0.1;
    animation: drift ease alternate infinite;
}

.firefly::after {
    /* Fin de la transition
        Boule jaune / doré */
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #e8bd5f;
    animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
    animation-name: move1;
}

.firefly:nth-child(1)::before {
    animation-duration: 13s;
}

.firefly:nth-child(1)::after {
    animation-duration: 13s, 10237ms;
    animation-delay: 0ms, 4347ms;
}

@keyframes move1 {
    0% {
        transform: translateX(20vw) translateY(4vh) scale(0.94);
    }
    4.347826087% {
        transform: translateX(4vw) translateY(-5vh) scale(0.92);
    }
    8.6956521739% {
        transform: translateX(-13vw) translateY(-21vh) scale(0.88);
    }
    13.0434782609% {
        transform: translateX(-2vw) translateY(-3vh) scale(0.28);
    }
    17.3913043478% {
        transform: translateX(-23vw) translateY(10vh) scale(0.58);
    }
    21.7391304348% {
        transform: translateX(-16vw) translateY(-1vh) scale(0.83);
    }
    26.0869565217% {
        transform: translateX(24vw) translateY(5vh) scale(0.48);
    }
    30.4347826087% {
        transform: translateX(-15vw) translateY(-1vh) scale(0.94);
    }
    34.7826086957% {
        transform: translateX(20vw) translateY(18vh) scale(0.45);
    }
    39.1304347826% {
        transform: translateX(3vw) translateY(6vh) scale(0.71);
    }
    43.4782608696% {
        transform: translateX(6vw) translateY(-3vh) scale(0.87);
    }
    47.8260869565% {
        transform: translateX(20vw) translateY(0vh) scale(0.53);
    }
    52.1739130435% {
        transform: translateX(7vw) translateY(-16vh) scale(0.57);
    }
    56.5217391304% {
        transform: translateX(-6vw) translateY(20vh) scale(0.29);
    }
    60.8695652174% {
        transform: translateX(5vw) translateY(13vh) scale(0.88);
    }
    65.2173913043% {
        transform: translateX(-2vw) translateY(6vh) scale(0.27);
    }
    69.5652173913% {
        transform: translateX(-15vw) translateY(-17vh) scale(0.75);
    }
    73.9130434783% {
        transform: translateX(-20vw) translateY(-5vh) scale(0.87);
    }
    78.2608695652% {
        transform: translateX(-9vw) translateY(1vh) scale(0.96);
    }
    82.6086956522% {
        transform: translateX(-16vw) translateY(14vh) scale(0.66);
    }
    86.9565217391% {
        transform: translateX(13vw) translateY(16vh) scale(0.44);
    }
    91.3043478261% {
        transform: translateX(-8vw) translateY(-12vh) scale(0.44);
    }
    95.652173913% {
        transform: translateX(10vw) translateY(14vh) scale(0.93);
    }
    100% {
        transform: translateX(-24vw) translateY(-10vh) scale(0.68);
    }
}

.firefly:nth-child(2) {
    animation-name: move2;
}

.firefly:nth-child(2)::before {
    animation-duration: 9s;
}

.firefly:nth-child(2)::after {
    animation-duration: 9s, 9615ms;
    animation-delay: 0ms, 7384ms;
}

@keyframes move2 {
    0% {
        transform: translateX(-12vw) translateY(4vh) scale(0.62);
    }
    4% {
        transform: translateX(-23vw) translateY(13vh) scale(0.82);
    }
    8% {
        transform: translateX(20vw) translateY(-16vh) scale(0.29);
    }
    12% {
        transform: translateX(2vw) translateY(-8vh) scale(0.51);
    }
    16% {
        transform: translateX(-24vw) translateY(-19vh) scale(0.89);
    }
    20% {
        transform: translateX(10vw) translateY(10vh) scale(0.34);
    }
    24% {
        transform: translateX(6vw) translateY(-12vh) scale(0.83);
    }
    28% {
        transform: translateX(20vw) translateY(-22vh) scale(0.31);
    }
    32% {
        transform: translateX(-4vw) translateY(1vh) scale(0.41);
    }
    36% {
        transform: translateX(8vw) translateY(22vh) scale(0.67);
    }
    40% {
        transform: translateX(11vw) translateY(22vh) scale(0.7);
    }
    44% {
        transform: translateX(-12vw) translateY(3vh) scale(0.61);
    }
    48% {
        transform: translateX(22vw) translateY(20vh) scale(0.89);
    }
    52% {
        transform: translateX(-3vw) translateY(-4vh) scale(0.44);
    }
    56% {
        transform: translateX(5vw) translateY(2vh) scale(0.46);
    }
    60% {
        transform: translateX(2vw) translateY(-24vh) scale(0.67);
    }
    64% {
        transform: translateX(7vw) translateY(1vh) scale(0.74);
    }
    68% {
        transform: translateX(-2vw) translateY(-12vh) scale(0.4);
    }
    72% {
        transform: translateX(-23vw) translateY(-1vh) scale(0.86);
    }
    76% {
        transform: translateX(25vw) translateY(-3vh) scale(0.71);
    }
    80% {
        transform: translateX(-1vw) translateY(-21vh) scale(0.94);
    }
    84% {
        transform: translateX(-24vw) translateY(15vh) scale(0.37);
    }
    88% {
        transform: translateX(-22vw) translateY(21vh) scale(0.94);
    }
    92% {
        transform: translateX(19vw) translateY(7vh) scale(0.8);
    }
    96% {
        transform: translateX(-12vw) translateY(-8vh) scale(0.82);
    }
    100% {
        transform: translateX(19vw) translateY(-8vh) scale(0.53);
    }
}

.firefly:nth-child(3) {
    animation-name: move3;
}

.firefly:nth-child(3)::before {
    animation-duration: 14s;
}

.firefly:nth-child(3)::after {
    animation-duration: 14s, 6007ms;
    animation-delay: 0ms, 2299ms;
}

@keyframes move3 {
    0% {
        transform: translateX(15vw) translateY(-6vh) scale(0.43);
    }
    3.8461538462% {
        transform: translateX(13vw) translateY(17vh) scale(0.39);
    }
    7.6923076923% {
        transform: translateX(-15vw) translateY(-8vh) scale(0.27);
    }
    11.5384615385% {
        transform: translateX(-8vw) translateY(18vh) scale(0.61);
    }
    15.3846153846% {
        transform: translateX(9vw) translateY(-1vh) scale(0.71);
    }
    19.2307692308% {
        transform: translateX(-21vw) translateY(14vh) scale(0.4);
    }
    23.0769230769% {
        transform: translateX(9vw) translateY(21vh) scale(0.62);
    }
    26.9230769231% {
        transform: translateX(-22vw) translateY(-23vh) scale(0.49);
    }
    30.7692307692% {
        transform: translateX(-23vw) translateY(-24vh) scale(0.84);
    }
    34.6153846154% {
        transform: translateX(13vw) translateY(25vh) scale(0.29);
    }
    38.4615384615% {
        transform: translateX(16vw) translateY(-8vh) scale(0.29);
    }
    42.3076923077% {
        transform: translateX(-9vw) translateY(19vh) scale(0.96);
    }
    46.1538461538% {
        transform: translateX(-11vw) translateY(-18vh) scale(0.62);
    }
    50% {
        transform: translateX(3vw) translateY(-20vh) scale(0.37);
    }
    53.8461538462% {
        transform: translateX(-21vw) translateY(1vh) scale(0.88);
    }
    57.6923076923% {
        transform: translateX(25vw) translateY(8vh) scale(0.45);
    }
    61.5384615385% {
        transform: translateX(11vw) translateY(3vh) scale(0.52);
    }
    65.3846153846% {
        transform: translateX(-1vw) translateY(20vh) scale(0.55);
    }
    69.2307692308% {
        transform: translateX(4vw) translateY(-3vh) scale(0.44);
    }
    73.0769230769% {
        transform: translateX(-15vw) translateY(-19vh) scale(0.52);
    }
    76.9230769231% {
        transform: translateX(5vw) translateY(2vh) scale(0.96);
    }
    80.7692307692% {
        transform: translateX(-17vw) translateY(-10vh) scale(0.49);
    }
    84.6153846154% {
        transform: translateX(-10vw) translateY(-18vh) scale(0.65);
    }
    88.4615384615% {
        transform: translateX(-23vw) translateY(-9vh) scale(0.82);
    }
    92.3076923077% {
        transform: translateX(19vw) translateY(9vh) scale(0.45);
    }
    96.1538461538% {
        transform: translateX(-7vw) translateY(25vh) scale(0.63);
    }
    100% {
        transform: translateX(-4vw) translateY(6vh) scale(0.38);
    }
}

.firefly:nth-child(4) {
    animation-name: move4;
}

.firefly:nth-child(4)::before {
    animation-duration: 17s;
}

.firefly:nth-child(4)::after {
    animation-duration: 17s, 8266ms;
    animation-delay: 0ms, 6421ms;
}

@keyframes move4 {
    0% {
        transform: translateX(12vw) translateY(-9vh) scale(0.96);
    }
    4.7619047619% {
        transform: translateX(8vw) translateY(2vh) scale(0.45);
    }
    9.5238095238% {
        transform: translateX(-8vw) translateY(-8vh) scale(0.8);
    }
    14.2857142857% {
        transform: translateX(21vw) translateY(25vh) scale(0.38);
    }
    19.0476190476% {
        transform: translateX(6vw) translateY(-4vh) scale(0.54);
    }
    23.8095238095% {
        transform: translateX(-4vw) translateY(23vh) scale(0.37);
    }
    28.5714285714% {
        transform: translateX(12vw) translateY(16vh) scale(0.43);
    }
    33.3333333333% {
        transform: translateX(5vw) translateY(11vh) scale(0.49);
    }
    38.0952380952% {
        transform: translateX(-15vw) translateY(22vh) scale(0.52);
    }
    42.8571428571% {
        transform: translateX(18vw) translateY(16vh) scale(0.83);
    }
    47.619047619% {
        transform: translateX(-1vw) translateY(-16vh) scale(0.5);
    }
    52.380952381% {
        transform: translateX(-9vw) translateY(-1vh) scale(0.74);
    }
    57.1428571429% {
        transform: translateX(-15vw) translateY(-11vh) scale(0.27);
    }
    61.9047619048% {
        transform: translateX(-19vw) translateY(4vh) scale(0.62);
    }
    66.6666666667% {
        transform: translateX(-20vw) translateY(-12vh) scale(0.77);
    }
    71.4285714286% {
        transform: translateX(7vw) translateY(-4vh) scale(0.71);
    }
    76.1904761905% {
        transform: translateX(-19vw) translateY(13vh) scale(0.3);
    }
    80.9523809524% {
        transform: translateX(-9vw) translateY(-10vh) scale(0.68);
    }
    85.7142857143% {
        transform: translateX(21vw) translateY(-16vh) scale(0.64);
    }
    90.4761904762% {
        transform: translateX(-24vw) translateY(10vh) scale(0.63);
    }
    95.2380952381% {
        transform: translateX(4vw) translateY(17vh) scale(0.74);
    }
    100% {
        transform: translateX(2vw) translateY(0vh) scale(0.77);
    }
}

.firefly:nth-child(5) {
    animation-name: move5;
}

.firefly:nth-child(5)::before {
    animation-duration: 18s;
}

.firefly:nth-child(5)::after {
    animation-duration: 18s, 9623ms;
    animation-delay: 0ms, 807ms;
}

@keyframes move5 {
    0% {
        transform: translateX(-8vw) translateY(-22vh) scale(0.85);
    }
    4.1666666667% {
        transform: translateX(15vw) translateY(-10vh) scale(0.88);
    }
    8.3333333333% {
        transform: translateX(2vw) translateY(24vh) scale(0.27);
    }
    12.5% {
        transform: translateX(17vw) translateY(14vh) scale(0.92);
    }
    16.6666666667% {
        transform: translateX(-23vw) translateY(-6vh) scale(0.85);
    }
    20.8333333333% {
        transform: translateX(-14vw) translateY(-16vh) scale(0.48);
    }
    25% {
        transform: translateX(6vw) translateY(-2vh) scale(0.75);
    }
    29.1666666667% {
        transform: translateX(-20vw) translateY(3vh) scale(0.46);
    }
    33.3333333333% {
        transform: translateX(12vw) translateY(10vh) scale(0.46);
    }
    37.5% {
        transform: translateX(-1vw) translateY(15vh) scale(0.72);
    }
    41.6666666667% {
        transform: translateX(13vw) translateY(25vh) scale(0.51);
    }
    45.8333333333% {
        transform: translateX(-24vw) translateY(-6vh) scale(0.28);
    }
    50% {
        transform: translateX(-8vw) translateY(21vh) scale(0.57);
    }
    54.1666666667% {
        transform: translateX(-5vw) translateY(-6vh) scale(0.63);
    }
    58.3333333333% {
        transform: translateX(19vw) translateY(1vh) scale(0.32);
    }
    62.5% {
        transform: translateX(24vw) translateY(-7vh) scale(0.93);
    }
    66.6666666667% {
        transform: translateX(-20vw) translateY(-16vh) scale(0.34);
    }
    70.8333333333% {
        transform: translateX(4vw) translateY(11vh) scale(0.77);
    }
    75% {
        transform: translateX(-7vw) translateY(-1vh) scale(0.99);
    }
    79.1666666667% {
        transform: translateX(-16vw) translateY(11vh) scale(0.95);
    }
    83.3333333333% {
        transform: translateX(6vw) translateY(2vh) scale(0.67);
    }
    87.5% {
        transform: translateX(-6vw) translateY(15vh) scale(0.42);
    }
    91.6666666667% {
        transform: translateX(11vw) translateY(-16vh) scale(0.38);
    }
    95.8333333333% {
        transform: translateX(7vw) translateY(24vh) scale(0.31);
    }
    100% {
        transform: translateX(13vw) translateY(23vh) scale(0.57);
    }
}

.firefly:nth-child(6) {
    animation-name: move6;
}

.firefly:nth-child(6)::before {
    animation-duration: 11s;
}

.firefly:nth-child(6)::after {
    animation-duration: 11s, 5774ms;
    animation-delay: 0ms, 6143ms;
}

@keyframes move6 {
    0% {
        transform: translateX(20vw) translateY(0vh) scale(0.33);
    }
    3.5714285714% {
        transform: translateX(-7vw) translateY(-7vh) scale(0.38);
    }
    7.1428571429% {
        transform: translateX(-1vw) translateY(-7vh) scale(0.3);
    }
    10.7142857143% {
        transform: translateX(1vw) translateY(19vh) scale(0.76);
    }
    14.2857142857% {
        transform: translateX(-10vw) translateY(21vh) scale(0.86);
    }
    17.8571428571% {
        transform: translateX(11vw) translateY(-16vh) scale(0.5);
    }
    21.4285714286% {
        transform: translateX(-12vw) translateY(-11vh) scale(0.31);
    }
    25% {
        transform: translateX(20vw) translateY(-6vh) scale(0.91);
    }
    28.5714285714% {
        transform: translateX(0vw) translateY(-21vh) scale(0.65);
    }
    32.1428571429% {
        transform: translateX(9vw) translateY(-23vh) scale(0.93);
    }
    35.7142857143% {
        transform: translateX(-22vw) translateY(5vh) scale(0.29);
    }
    39.2857142857% {
        transform: translateX(17vw) translateY(-18vh) scale(0.55);
    }
    42.8571428571% {
        transform: translateX(-14vw) translateY(-15vh) scale(0.71);
    }
    46.4285714286% {
        transform: translateX(-5vw) translateY(-20vh) scale(0.32);
    }
    50% {
        transform: translateX(23vw) translateY(24vh) scale(0.51);
    }
    53.5714285714% {
        transform: translateX(-21vw) translateY(-6vh) scale(0.97);
    }
    57.1428571429% {
        transform: translateX(11vw) translateY(-1vh) scale(0.51);
    }
    60.7142857143% {
        transform: translateX(-21vw) translateY(13vh) scale(0.41);
    }
    64.2857142857% {
        transform: translateX(-18vw) translateY(-1vh) scale(0.41);
    }
    67.8571428571% {
        transform: translateX(-16vw) translateY(19vh) scale(0.63);
    }
    71.4285714286% {
        transform: translateX(17vw) translateY(6vh) scale(0.96);
    }
    75% {
        transform: translateX(4vw) translateY(18vh) scale(0.62);
    }
    78.5714285714% {
        transform: translateX(25vw) translateY(-8vh) scale(0.32);
    }
    82.1428571429% {
        transform: translateX(-12vw) translateY(-4vh) scale(0.73);
    }
    85.7142857143% {
        transform: translateX(-12vw) translateY(7vh) scale(0.69);
    }
    89.2857142857% {
        transform: translateX(9vw) translateY(-21vh) scale(0.72);
    }
    92.8571428571% {
        transform: translateX(19vw) translateY(-24vh) scale(0.29);
    }
    96.4285714286% {
        transform: translateX(14vw) translateY(-12vh) scale(0.3);
    }
    100% {
        transform: translateX(-8vw) translateY(1vh) scale(0.53);
    }
}

.firefly:nth-child(7) {
    animation-name: move7;
}

.firefly:nth-child(7)::before {
    animation-duration: 15s;
}

.firefly:nth-child(7)::after {
    animation-duration: 15s, 7107ms;
    animation-delay: 0ms, 7032ms;
}

@keyframes move7 {
    0% {
        transform: translateX(17vw) translateY(-11vh) scale(0.78);
    }
    5.8823529412% {
        transform: translateX(-18vw) translateY(-21vh) scale(0.94);
    }
    11.7647058824% {
        transform: translateX(0vw) translateY(5vh) scale(0.33);
    }
    17.6470588235% {
        transform: translateX(11vw) translateY(14vh) scale(0.47);
    }
    23.5294117647% {
        transform: translateX(15vw) translateY(12vh) scale(0.32);
    }
    29.4117647059% {
        transform: translateX(20vw) translateY(11vh) scale(0.73);
    }
    35.2941176471% {
        transform: translateX(18vw) translateY(-15vh) scale(0.37);
    }
    41.1764705882% {
        transform: translateX(-4vw) translateY(-2vh) scale(0.64);
    }
    47.0588235294% {
        transform: translateX(3vw) translateY(0vh) scale(0.68);
    }
    52.9411764706% {
        transform: translateX(-5vw) translateY(-20vh) scale(0.57);
    }
    58.8235294118% {
        transform: translateX(3vw) translateY(-12vh) scale(0.73);
    }
    64.7058823529% {
        transform: translateX(20vw) translateY(17vh) scale(0.45);
    }
    70.5882352941% {
        transform: translateX(16vw) translateY(-3vh) scale(0.96);
    }
    76.4705882353% {
        transform: translateX(13vw) translateY(22vh) scale(0.64);
    }
    82.3529411765% {
        transform: translateX(13vw) translateY(-9vh) scale(0.99);
    }
    88.2352941176% {
        transform: translateX(13vw) translateY(12vh) scale(0.78);
    }
    94.1176470588% {
        transform: translateX(-3vw) translateY(3vh) scale(0.69);
    }
    100% {
        transform: translateX(-4vw) translateY(-13vh) scale(0.91);
    }
}

.firefly:nth-child(8) {
    animation-name: move8;
}

.firefly:nth-child(8)::before {
    animation-duration: 10s;
}

.firefly:nth-child(8)::after {
    animation-duration: 10s, 6623ms;
    animation-delay: 0ms, 6165ms;
}

@keyframes move8 {
    0% {
        transform: translateX(2vw) translateY(-3vh) scale(0.87);
    }
    4% {
        transform: translateX(1vw) translateY(19vh) scale(0.39);
    }
    8% {
        transform: translateX(2vw) translateY(10vh) scale(0.62);
    }
    12% {
        transform: translateX(25vw) translateY(5vh) scale(0.58);
    }
    16% {
        transform: translateX(15vw) translateY(2vh) scale(0.94);
    }
    20% {
        transform: translateX(-11vw) translateY(-17vh) scale(0.79);
    }
    24% {
        transform: translateX(23vw) translateY(-17vh) scale(0.73);
    }
    28% {
        transform: translateX(19vw) translateY(3vh) scale(0.89);
    }
    32% {
        transform: translateX(-6vw) translateY(15vh) scale(0.89);
    }
    36% {
        transform: translateX(15vw) translateY(13vh) scale(0.58);
    }
    40% {
        transform: translateX(-3vw) translateY(2vh) scale(0.72);
    }
    44% {
        transform: translateX(24vw) translateY(-4vh) scale(0.3);
    }
    48% {
        transform: translateX(-10vw) translateY(25vh) scale(0.29);
    }
    52% {
        transform: translateX(-19vw) translateY(11vh) scale(1);
    }
    56% {
        transform: translateX(11vw) translateY(-9vh) scale(0.26);
    }
    60% {
        transform: translateX(11vw) translateY(23vh) scale(0.69);
    }
    64% {
        transform: translateX(10vw) translateY(19vh) scale(0.84);
    }
    68% {
        transform: translateX(20vw) translateY(-7vh) scale(0.88);
    }
    72% {
        transform: translateX(12vw) translateY(-18vh) scale(0.87);
    }
    76% {
        transform: translateX(10vw) translateY(23vh) scale(0.35);
    }
    80% {
        transform: translateX(-8vw) translateY(5vh) scale(0.3);
    }
    84% {
        transform: translateX(-16vw) translateY(15vh) scale(0.45);
    }
    88% {
        transform: translateX(-18vw) translateY(15vh) scale(0.41);
    }
    92% {
        transform: translateX(-4vw) translateY(11vh) scale(0.75);
    }
    96% {
        transform: translateX(8vw) translateY(3vh) scale(0.64);
    }
    100% {
        transform: translateX(-23vw) translateY(19vh) scale(0.6);
    }
}

.firefly:nth-child(9) {
    animation-name: move9;
}

.firefly:nth-child(9)::before {
    animation-duration: 12s;
}

.firefly:nth-child(9)::after {
    animation-duration: 12s, 10808ms;
    animation-delay: 0ms, 3117ms;
}

@keyframes move9 {
    0% {
        transform: translateX(8vw) translateY(-6vh) scale(0.84);
    }
    3.8461538462% {
        transform: translateX(-23vw) translateY(4vh) scale(0.73);
    }
    7.6923076923% {
        transform: translateX(-15vw) translateY(-3vh) scale(0.59);
    }
    11.5384615385% {
        transform: translateX(-24vw) translateY(-20vh) scale(0.91);
    }
    15.3846153846% {
        transform: translateX(-20vw) translateY(-17vh) scale(0.37);
    }
    19.2307692308% {
        transform: translateX(-24vw) translateY(-10vh) scale(0.77);
    }
    23.0769230769% {
        transform: translateX(3vw) translateY(23vh) scale(0.45);
    }
    26.9230769231% {
        transform: translateX(24vw) translateY(7vh) scale(0.51);
    }
    30.7692307692% {
        transform: translateX(-20vw) translateY(14vh) scale(0.71);
    }
    34.6153846154% {
        transform: translateX(21vw) translateY(7vh) scale(0.66);
    }
    38.4615384615% {
        transform: translateX(-12vw) translateY(15vh) scale(0.51);
    }
    42.3076923077% {
        transform: translateX(-3vw) translateY(-14vh) scale(0.85);
    }
    46.1538461538% {
        transform: translateX(-16vw) translateY(2vh) scale(0.43);
    }
    50% {
        transform: translateX(-4vw) translateY(12vh) scale(0.44);
    }
    53.8461538462% {
        transform: translateX(-11vw) translateY(-16vh) scale(0.44);
    }
    57.6923076923% {
        transform: translateX(-24vw) translateY(-15vh) scale(0.59);
    }
    61.5384615385% {
        transform: translateX(-14vw) translateY(-10vh) scale(0.93);
    }
    65.3846153846% {
        transform: translateX(20vw) translateY(10vh) scale(0.35);
    }
    69.2307692308% {
        transform: translateX(17vw) translateY(-2vh) scale(0.59);
    }
    73.0769230769% {
        transform: translateX(-9vw) translateY(-7vh) scale(0.77);
    }
    76.9230769231% {
        transform: translateX(7vw) translateY(25vh) scale(0.7);
    }
    80.7692307692% {
        transform: translateX(-18vw) translateY(-11vh) scale(0.72);
    }
    84.6153846154% {
        transform: translateX(-4vw) translateY(21vh) scale(0.47);
    }
    88.4615384615% {
        transform: translateX(4vw) translateY(16vh) scale(0.45);
    }
    92.3076923077% {
        transform: translateX(18vw) translateY(13vh) scale(0.76);
    }
    96.1538461538% {
        transform: translateX(-8vw) translateY(-16vh) scale(1);
    }
    100% {
        transform: translateX(8vw) translateY(14vh) scale(0.99);
    }
}

.firefly:nth-child(10) {
    animation-name: move10;
}

.firefly:nth-child(10)::before {
    animation-duration: 13s;
}

.firefly:nth-child(10)::after {
    animation-duration: 13s, 10735ms;
    animation-delay: 0ms, 2336ms;
}

@keyframes move10 {
    0% {
        transform: translateX(-9vw) translateY(-3vh) scale(0.6);
    }
    4.5454545455% {
        transform: translateX(2vw) translateY(3vh) scale(0.62);
    }
    9.0909090909% {
        transform: translateX(6vw) translateY(15vh) scale(0.3);
    }
    13.6363636364% {
        transform: translateX(18vw) translateY(24vh) scale(0.4);
    }
    18.1818181818% {
        transform: translateX(25vw) translateY(14vh) scale(0.72);
    }
    22.7272727273% {
        transform: translateX(23vw) translateY(24vh) scale(0.53);
    }
    27.2727272727% {
        transform: translateX(9vw) translateY(25vh) scale(0.53);
    }
    31.8181818182% {
        transform: translateX(-6vw) translateY(-16vh) scale(0.64);
    }
    36.3636363636% {
        transform: translateX(22vw) translateY(20vh) scale(0.48);
    }
    40.9090909091% {
        transform: translateX(5vw) translateY(23vh) scale(0.38);
    }
    45.4545454545% {
        transform: translateX(24vw) translateY(-18vh) scale(0.99);
    }
    50% {
        transform: translateX(-19vw) translateY(15vh) scale(0.78);
    }
    54.5454545455% {
        transform: translateX(-4vw) translateY(-10vh) scale(0.57);
    }
    59.0909090909% {
        transform: translateX(-12vw) translateY(25vh) scale(0.53);
    }
    63.6363636364% {
        transform: translateX(2vw) translateY(-3vh) scale(0.49);
    }
    68.1818181818% {
        transform: translateX(-21vw) translateY(5vh) scale(0.47);
    }
    72.7272727273% {
        transform: translateX(-16vw) translateY(13vh) scale(0.27);
    }
    77.2727272727% {
        transform: translateX(-3vw) translateY(25vh) scale(0.78);
    }
    81.8181818182% {
        transform: translateX(12vw) translateY(-5vh) scale(0.44);
    }
    86.3636363636% {
        transform: translateX(-15vw) translateY(11vh) scale(0.35);
    }
    90.9090909091% {
        transform: translateX(2vw) translateY(-23vh) scale(0.31);
    }
    95.4545454545% {
        transform: translateX(23vw) translateY(-16vh) scale(0.82);
    }
    100% {
        transform: translateX(12vw) translateY(-23vh) scale(0.93);
    }
}

.firefly:nth-child(11) {
    animation-name: move11;
}

.firefly:nth-child(11)::before {
    animation-duration: 13s;
}

.firefly:nth-child(11)::after {
    animation-duration: 13s, 9724ms;
    animation-delay: 0ms, 6897ms;
}

@keyframes move11 {
    0% {
        transform: translateX(14vw) translateY(-6vh) scale(0.97);
    }
    4% {
        transform: translateX(0vw) translateY(19vh) scale(0.48);
    }
    8% {
        transform: translateX(2vw) translateY(-23vh) scale(0.6);
    }
    12% {
        transform: translateX(8vw) translateY(-18vh) scale(0.84);
    }
    16% {
        transform: translateX(-6vw) translateY(-24vh) scale(0.4);
    }
    20% {
        transform: translateX(11vw) translateY(-20vh) scale(0.57);
    }
    24% {
        transform: translateX(19vw) translateY(-4vh) scale(0.64);
    }
    28% {
        transform: translateX(-12vw) translateY(-22vh) scale(0.44);
    }
    32% {
        transform: translateX(1vw) translateY(-8vh) scale(0.46);
    }
    36% {
        transform: translateX(1vw) translateY(10vh) scale(0.9);
    }
    40% {
        transform: translateX(19vw) translateY(-16vh) scale(0.57);
    }
    44% {
        transform: translateX(1vw) translateY(8vh) scale(0.27);
    }
    48% {
        transform: translateX(0vw) translateY(-16vh) scale(0.52);
    }
    52% {
        transform: translateX(-10vw) translateY(-9vh) scale(0.5);
    }
    56% {
        transform: translateX(-20vw) translateY(-4vh) scale(0.75);
    }
    60% {
        transform: translateX(-12vw) translateY(14vh) scale(0.39);
    }
    64% {
        transform: translateX(20vw) translateY(0vh) scale(0.73);
    }
    68% {
        transform: translateX(24vw) translateY(21vh) scale(0.43);
    }
    72% {
        transform: translateX(19vw) translateY(6vh) scale(0.81);
    }
    76% {
        transform: translateX(6vw) translateY(-17vh) scale(0.8);
    }
    80% {
        transform: translateX(-6vw) translateY(-6vh) scale(0.67);
    }
    84% {
        transform: translateX(1vw) translateY(-17vh) scale(1);
    }
    88% {
        transform: translateX(16vw) translateY(-9vh) scale(0.42);
    }
    92% {
        transform: translateX(23vw) translateY(7vh) scale(0.57);
    }
    96% {
        transform: translateX(-2vw) translateY(-19vh) scale(0.92);
    }
    100% {
        transform: translateX(-17vw) translateY(-21vh) scale(0.35);
    }
}

.firefly:nth-child(12) {
    animation-name: move12;
}

.firefly:nth-child(12)::before {
    animation-duration: 14s;
}

.firefly:nth-child(12)::after {
    animation-duration: 14s, 8259ms;
    animation-delay: 0ms, 6171ms;
}

@keyframes move12 {
    0% {
        transform: translateX(-22vw) translateY(-6vh) scale(0.45);
    }
    5.5555555556% {
        transform: translateX(-22vw) translateY(-14vh) scale(0.62);
    }
    11.1111111111% {
        transform: translateX(3vw) translateY(5vh) scale(0.77);
    }
    16.6666666667% {
        transform: translateX(20vw) translateY(7vh) scale(0.37);
    }
    22.2222222222% {
        transform: translateX(-8vw) translateY(15vh) scale(0.79);
    }
    27.7777777778% {
        transform: translateX(-8vw) translateY(17vh) scale(0.33);
    }
    33.3333333333% {
        transform: translateX(-15vw) translateY(-12vh) scale(0.57);
    }
    38.8888888889% {
        transform: translateX(-3vw) translateY(-16vh) scale(1);
    }
    44.4444444444% {
        transform: translateX(24vw) translateY(-11vh) scale(0.84);
    }
    50% {
        transform: translateX(-3vw) translateY(11vh) scale(0.91);
    }
    55.5555555556% {
        transform: translateX(9vw) translateY(8vh) scale(0.9);
    }
    61.1111111111% {
        transform: translateX(-2vw) translateY(13vh) scale(0.93);
    }
    66.6666666667% {
        transform: translateX(3vw) translateY(9vh) scale(0.76);
    }
    72.2222222222% {
        transform: translateX(6vw) translateY(-14vh) scale(0.43);
    }
    77.7777777778% {
        transform: translateX(-6vw) translateY(-2vh) scale(0.33);
    }
    83.3333333333% {
        transform: translateX(-17vw) translateY(23vh) scale(0.44);
    }
    88.8888888889% {
        transform: translateX(14vw) translateY(16vh) scale(0.71);
    }
    94.4444444444% {
        transform: translateX(12vw) translateY(13vh) scale(0.96);
    }
    100% {
        transform: translateX(13vw) translateY(-16vh) scale(0.98);
    }
}

.firefly:nth-child(13) {
    animation-name: move13;
}

.firefly:nth-child(13)::before {
    animation-duration: 10s;
}

.firefly:nth-child(13)::after {
    animation-duration: 10s, 7116ms;
    animation-delay: 0ms, 5522ms;
}

@keyframes move13 {
    0% {
        transform: translateX(-15vw) translateY(0vh) scale(0.46);
    }
    4.7619047619% {
        transform: translateX(3vw) translateY(-6vh) scale(0.41);
    }
    9.5238095238% {
        transform: translateX(2vw) translateY(8vh) scale(0.78);
    }
    14.2857142857% {
        transform: translateX(12vw) translateY(-14vh) scale(0.71);
    }
    19.0476190476% {
        transform: translateX(9vw) translateY(7vh) scale(0.62);
    }
    23.8095238095% {
        transform: translateX(14vw) translateY(-20vh) scale(0.41);
    }
    28.5714285714% {
        transform: translateX(-13vw) translateY(20vh) scale(0.26);
    }
    33.3333333333% {
        transform: translateX(19vw) translateY(12vh) scale(0.45);
    }
    38.0952380952% {
        transform: translateX(-21vw) translateY(-18vh) scale(0.83);
    }
    42.8571428571% {
        transform: translateX(4vw) translateY(-17vh) scale(0.47);
    }
    47.619047619% {
        transform: translateX(-9vw) translateY(9vh) scale(0.68);
    }
    52.380952381% {
        transform: translateX(20vw) translateY(-1vh) scale(0.91);
    }
    57.1428571429% {
        transform: translateX(15vw) translateY(-19vh) scale(0.61);
    }
    61.9047619048% {
        transform: translateX(0vw) translateY(4vh) scale(0.75);
    }
    66.6666666667% {
        transform: translateX(-22vw) translateY(-1vh) scale(0.71);
    }
    71.4285714286% {
        transform: translateX(-13vw) translateY(6vh) scale(0.55);
    }
    76.1904761905% {
        transform: translateX(2vw) translateY(2vh) scale(0.42);
    }
    80.9523809524% {
        transform: translateX(1vw) translateY(2vh) scale(0.31);
    }
    85.7142857143% {
        transform: translateX(-17vw) translateY(-23vh) scale(0.52);
    }
    90.4761904762% {
        transform: translateX(24vw) translateY(-6vh) scale(0.47);
    }
    95.2380952381% {
        transform: translateX(8vw) translateY(8vh) scale(0.67);
    }
    100% {
        transform: translateX(19vw) translateY(7vh) scale(0.39);
    }
}

.firefly:nth-child(14) {
    animation-name: move14;
}

.firefly:nth-child(14)::before {
    animation-duration: 13s;
}

.firefly:nth-child(14)::after {
    animation-duration: 13s, 9688ms;
    animation-delay: 0ms, 7360ms;
}

@keyframes move14 {
    0% {
        transform: translateX(-18vw) translateY(12vh) scale(0.44);
    }
    5% {
        transform: translateX(23vw) translateY(21vh) scale(0.35);
    }
    10% {
        transform: translateX(22vw) translateY(-12vh) scale(0.68);
    }
    15% {
        transform: translateX(-9vw) translateY(-8vh) scale(0.44);
    }
    20% {
        transform: translateX(11vw) translateY(3vh) scale(0.52);
    }
    25% {
        transform: translateX(12vw) translateY(12vh) scale(0.57);
    }
    30% {
        transform: translateX(-18vw) translateY(-6vh) scale(0.66);
    }
    35% {
        transform: translateX(-4vw) translateY(21vh) scale(0.39);
    }
    40% {
        transform: translateX(-11vw) translateY(-3vh) scale(0.66);
    }
    45% {
        transform: translateX(1vw) translateY(0vh) scale(0.31);
    }
    50% {
        transform: translateX(9vw) translateY(24vh) scale(0.89);
    }
    55% {
        transform: translateX(-13vw) translateY(6vh) scale(0.66);
    }
    60% {
        transform: translateX(-21vw) translateY(23vh) scale(0.79);
    }
    65% {
        transform: translateX(22vw) translateY(-10vh) scale(0.6);
    }
    70% {
        transform: translateX(-8vw) translateY(20vh) scale(0.87);
    }
    75% {
        transform: translateX(18vw) translateY(-13vh) scale(0.67);
    }
    80% {
        transform: translateX(6vw) translateY(-15vh) scale(0.79);
    }
    85% {
        transform: translateX(-24vw) translateY(-20vh) scale(0.85);
    }
    90% {
        transform: translateX(17vw) translateY(22vh) scale(0.55);
    }
    95% {
        transform: translateX(-23vw) translateY(2vh) scale(0.48);
    }
    100% {
        transform: translateX(19vw) translateY(18vh) scale(0.82);
    }
}

.firefly:nth-child(15) {
    animation-name: move15;
}

.firefly:nth-child(15)::before {
    animation-duration: 10s;
}

.firefly:nth-child(15)::after {
    animation-duration: 10s, 6791ms;
    animation-delay: 0ms, 2327ms;
}

@keyframes move15 {
    0% {
        transform: translateX(14vw) translateY(-5vh) scale(0.81);
    }
    5.5555555556% {
        transform: translateX(18vw) translateY(-8vh) scale(0.61);
    }
    11.1111111111% {
        transform: translateX(7vw) translateY(25vh) scale(1);
    }
    16.6666666667% {
        transform: translateX(-4vw) translateY(-20vh) scale(0.34);
    }
    22.2222222222% {
        transform: translateX(-1vw) translateY(-2vh) scale(0.54);
    }
    27.7777777778% {
        transform: translateX(-16vw) translateY(7vh) scale(0.38);
    }
    33.3333333333% {
        transform: translateX(-18vw) translateY(-23vh) scale(0.87);
    }
    38.8888888889% {
        transform: translateX(-18vw) translateY(-12vh) scale(0.63);
    }
    44.4444444444% {
        transform: translateX(12vw) translateY(-6vh) scale(0.6);
    }
    50% {
        transform: translateX(-7vw) translateY(8vh) scale(0.74);
    }
    55.5555555556% {
        transform: translateX(-12vw) translateY(18vh) scale(0.97);
    }
    61.1111111111% {
        transform: translateX(-5vw) translateY(0vh) scale(0.61);
    }
    66.6666666667% {
        transform: translateX(-10vw) translateY(-21vh) scale(0.86);
    }
    72.2222222222% {
        transform: translateX(11vw) translateY(-12vh) scale(0.95);
    }
    77.7777777778% {
        transform: translateX(9vw) translateY(19vh) scale(0.99);
    }
    83.3333333333% {
        transform: translateX(-12vw) translateY(-7vh) scale(0.6);
    }
    88.8888888889% {
        transform: translateX(-9vw) translateY(-5vh) scale(0.92);
    }
    94.4444444444% {
        transform: translateX(5vw) translateY(-7vh) scale(0.97);
    }
    100% {
        transform: translateX(-8vw) translateY(5vh) scale(0.68);
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0%,
    30%,
    100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw #e8bd5f;
    }
    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw #e8bd5f;
    }
}